// keep this. fixes blank space on right side.
.carousel-item{
  margin-left: 0;
  height: 66.66vh;
  &.active{
    display: flex;
  }
  @media(max-width:992px){
    height: auto;
  }

  & .block-1a{
    background-image: url('../images/desktop-image-hero-1.jpg');
    background-size: cover;
    padding: 60px;
  
    @media(max-width: 992px){
      height: 400px;
    }
  }
  
  & .block-1b{
    background-image: url('../images/desktop-image-hero-2.jpg');
    background-size: cover;
    padding: 60px;
  
    @media(max-width: 992px){
      height: 400px;
    }
  }
  & .block-1c{
    background-image: url('../images/desktop-image-hero-3.jpg');
    background-size: cover;
    padding: 60px;
  
    @media(max-width: 992px){
      height: 400px;
    }
  }
  & .block-2{
    padding: 0 90px;
    @media(max-width: 992px){
      padding: 15px 45px;
      min-height: 400px;
    }
  }

  & .slide-header{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
  
    @media(max-width: 992px){
      font-size: 28px;
    }
  }
  & .slide-content{
    font-size: 12px;
    color: $dark-gray;
    line-height: 1.75;
    margin: 0;
  }
  & .shop-now-nav{
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
  
    &:active{
      transform: scale(.94);
      color: $dark-gray;
    }
  }
  & .shop-now-text{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 13px;
    width: 55%;
    @media(max-width: 992px){
      letter-spacing: 5px;
    }
    @media(max-width:576px){
      font-size: 18px;
      letter-spacing: 10px;
    }
    @media(max-width:460px){
      letter-spacing: 5px;
    }
  }
  
  & .shop-now-arrow{
    color: $dark-gray;
    &.inactive{ // .inactive (class) added via custom javascript
      visibility: hidden;;
    }
  }
  & .shop-now-arrow-active{
    position: relative;
    left: -50%;
    visibility: hidden;
    &.active{ // .active (class) added via custom javascript
      visibility: visible;
    }
  }
}

// leave here. fixes transition on carousel animation. 
// class name applied briefly to .card-body / .carousel-item on transition to prev/next card on carousel.
.carousel-item-left{
  display: flex;
}
.carousel-item-right{
  display: flex;
}