<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../scss/custom.css">
  <title>{{.Params.Header}}</title>
</head>

<body>
  <div class="row top-row">
    <div class="col-6 my-col">left</div>
    <div class="col my-col">right</div>
  </div>
  <div class="row bottom-row">
    <div class="col my-col"></div>
    <div class="col-4 my-col"></div>
    <div class="col my-col"></div>
  </div>
</body>

</html>