<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="../scss/custom.css">
  <title>{{.Params.Header}}</title>
</head>

<body>
  <div class="row top-row">
    <div class="col-6 my-col block-1">
      <div class="row no-gutters">
        <div class="col my-nav">
          <img class="navbar-brand logo" src="../images/logo.svg" alt="room">
          <nav class="my-nav">
            <li class="menu-item">home</li>
            <li class="menu-item">shop</li>
            <li class="menu-item">about</li>
            <li class="menu-item">contact</li>
          </nav>
        </div>
      </div>
      <!-- {{partial "nav_bar" .}} -->
    </div>
    <div class="col d-flex flex-column justify-content-center my-col block-2">
      <h1 class="slide-header">{{.Params.slide_show.slide_1.slide_1_header}}</h1>
      <p class="slide-content">{{.Params.slide_show.slide_1.slide_1_content}}</p>
      <div class='shop-now-nav'>
        <h2 class="shop-now">Shop Now</h2>
        <span>
          <img src="../images/icon-arrow.svg" alt="next">
        </span>
      </div>
    </div>
  </div>
  <div class="row bottom-row">
    <div class="col my-col block-3"></div>
    <div class="col-4 d-flex flex-column justify-content-center my-col block-4">
      <h2 class="about-header">{{.Params.about.about_header}}</h2>
      <p class="about-content">{{.Params.about.about_content}}</p>
    </div>
    <div class="col my-col block-5"></div>
  </div>
</body>

</html>