$grid-columns: 10 !default;
$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap"; // bootstrap styles


body{
  font-family: 'Spartan', sans-serif;
}
.top-row{
  height: 66.66vh;
}
.bottom-row{
  height: 33.33vh;
}
.my-col{
  height: auto;
  // border: solid blue 1px
}
.my-nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo{
  margin-right: 30px; 
}
.menu-item{
  list-style: none;
  color: $white;
  font-size: 12px;
  padding: 0 15px
}
.carousel-nav{
  background-color: $black;
  height: (100%/7);
  width: 25%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0
}
.block-1{
  background-image: url('../images/desktop-image-hero-1.jpg');
  background-size: cover;
  padding: 60px
}
.block-2{
  padding: 0 90px;
}
.block-3{
  background-image: url('../images/image-about-dark.jpg');
}
.block-4{
  padding: 0 45px;
}
.block-5{
  background-image: url('../images/image-about-light.jpg');
}

.slide-header{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}
.slide-content{
  font-size: 12px;
  color: $dark-gray;
  line-height: 1.75;
  margin: 0;
}
.shop-now-nav{
  display: flex;
  align-items: center;
}
.shop-now{
  margin-top: 30px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
  flex-basis: 50%
}

.about-header{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  margin-bottom: 15px;
}
.about-content{
  font-size: 12px;
  color: $dark-gray;
  line-height: 1.75;
  margin: 0;
}

