$grid-columns: 10 !default;
$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap"; // bootstrap styles

@import "../scss/site_navigation/main-nav";
@import "../scss/site_navigation/hamburger-nav";
@import "../scss/carousel/carousel";
@import "../scss/carousel/carousel-item";

body{
  font-family: 'Spartan', sans-serif;
}
.top-row{
  height: 66.66vh;
  @media(max-width:992px){
    height: auto;
  }
}

.bottom-row{
  height: 33.33vh;
  margin: 0;
}

.block-3{
  background-image: url('../images/image-about-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  @media(max-width: 992px){
    height: 400px;
  }
}
.block-4{
  padding: 0 45px;
  box-sizing: border-box;

  @media(max-width: 992px){
    height: 400px;
  }
  @media(max-width:576px){
    padding: 45px 90px;
  }
  @media(max-width:460px){
    padding: 45px;
  }
}
.block-5{
  background-image: url('../images/image-about-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  @media(max-width: 992px){
    height: 400px;
  }
}


.about-header{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  margin-bottom: 15px;

  @media(max-width:576px){
    font-size: 15px;
  }
}
.about-content{
  font-size: 12px;
  color: $dark-gray;
  line-height: 1.75;
  margin: 0;
  @media(max-width:576px){
    font-size: 15px;
  }
}
