$grid-columns: 10 !default;
$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap"; // bootstrap styles


body{
  font-family: 'Spartan', sans-serif;
}
.top-row{
  height: 66.66vh;
  @media(max-width:992px){
    height: auto;
  }
}
// keep this. it changes the style of the top-row for carousel.
.carousel-item{
  margin-left: 0;

  &.active{
    display: flex;
  }
}

.bottom-row{
  height: 33.33vh;
  margin: 0;
}
.my-col{
  height: auto;
}
.my-nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 0px;
}

.main-nav{
  position: absolute;
  left: 5%;
  top: 10%;
  z-index: 2;
  @media (max-width: 576px) {
    display: none;
  }
}
.logo{
  margin-right: 30px; 

  @media(max-width:920px){
    margin-right: 15px
  }
}
.menu-item{
  list-style: none;
  color: $white;
  font-size: 12px;
  padding: 0 15px;
  cursor: pointer;
  &:hover{
    color: $very-dark-gray
  }
}

.block-1a{
  background-image: url('../images/desktop-image-hero-1.jpg');
  background-size: cover;
  padding: 60px;

  @media(max-width: 992px){
    height: 400px;
  }
}

.block-1b{
  background-image: url('../images/desktop-image-hero-2.jpg');
  background-size: cover;
  padding: 60px;

  @media(max-width: 992px){
    height: 400px;
  }
}
.block-1c{
  background-image: url('../images/desktop-image-hero-3.jpg');
  background-size: cover;
  padding: 60px;

  @media(max-width: 992px){
    height: 400px;
  }
}

.block-2{
  padding: 0 90px;
  @media(max-width: 992px){
    padding: 15px 45px;
  }
  @media(max-width:576px){
    padding: 90px;
  }
  @media(max-width:460px){
    padding: 45px;
  }
}
.block-3{
  background-image: url('../images/image-about-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  @media(max-width: 992px){
    height: 400px;
  }
}
.block-4{
  padding: 0 45px;
  box-sizing: border-box;

  @media(max-width: 992px){
    height: 200px;
  }
  @media(max-width:576px){
    padding: 45px 90px;
    height: 400px;
  }
  @media(max-width:460px){
    padding: 45px;
  }
}
.block-5{
  background-image: url('../images/image-about-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  @media(max-width: 992px){
    height: 400px;
  }
}

.slide-header{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;

  @media(max-width: 992px){
    font-size: 28px;
  }
  @media(max-width:576px){
    font-size: 36px;
  }
}
.slide-content{
  font-size: 12px;
  color: $dark-gray;
  line-height: 1.75;
  margin: 0;

  @media(max-width:576px){
    font-size: 15px;
  }
}
.shop-now-nav{
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;

  &:active{
    transform: scale(.94)
  }
}
.shop-now{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 13px;
  margin-right: 15%;
  @media(max-width: 992px){
    letter-spacing: 5px;
  }
  @media(max-width:576px){
    font-size: 18px;
    letter-spacing: 10px;
  }
  @media(max-width:460px){
    letter-spacing: 5px;
  }
}
.carousel-nav{
  background-color: $black;
  height: (100%/8);
  width: (100%/10);
  position: absolute;
  bottom: 0;
  right: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 2;
  @media(max-width: 1220px){
    right:40%;
    width: (100%/5);
  }
}

.arrow{
  cursor: pointer;

  &:active{
    transform: scale(.94)
  }
}

.about-header{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  margin-bottom: 15px;

  @media(max-width:576px){
    font-size: 15px;
  }
}
.about-content{
  font-size: 12px;
  color: $dark-gray;
  line-height: 1.75;
  margin: 0;
  @media(max-width:576px){
    font-size: 15px;
  }
}

.logo-hamburger-container{
  display: flex;
}
.small-view-menu-bar{
  display: none;
  @media(max-width: 576px){
    display: block;
    position: absolute;
    top: 5%;
    z-index: 2;
  }
}
.hamburger-menu-toggler{
  cursor: pointer;
  position: absolute;
  left: 5%;

  & .hamburger-menu-bar{
    border-bottom: 4px solid white;
    width: 35px;
    margin-bottom: 6px;
    transition: all .25s;
    border-radius: 5px
  }
}
.small-view-logo{
  margin: 0 auto;
}
.hamburger-menu-item{
  list-style: none;
  text-decoration: none;
  color: $black;
  font-size: 12px;
  font-weight: 700;
  padding: 0 15px;
  cursor: pointer;
  &:hover{
    color: $very-dark-gray
  }
}

.modal-header{
  align-items: center;
  height: 100%;
  .close{
    margin: 0;
  }
}
.hamburger-nav{
  display: flex;
  height: 15px;
}
.modal-dialog{
  margin: 0;
}
.modal-content{
  height: (100vh/6);
  border-radius: 0px;
}
.modal-backdrop{
  display: none;
  @media(max-width:576px){
  display:  block;
  width:100%;
  height: 100%;
  z-index: 1
  }
}

// leave here. fixes transition on carousel animation. 
// class name applied briefly to .card-body / .carousel-item on transition to next card on carousel.
.carousel-item-left{
  display: flex;
}
.carousel-item-right{
  display: flex;
}