<!-- CAROUSEL ITEM 1 -->
<div class="row top-row carousel-item active">
  <!-- BLOCK 1 (IMAGE) -->
  <div class="col-lg-6 col-md-5 my-col block-1a">
  </div>
  <!-- BLOCK 2  -->
  <div class="col-lg-4 col-md-5 d-flex flex-column justify-content-center my-col block-2">
    <h1 class="slide-header">{{.Params.slide_show.slide_1.slide_1_header}}</h1>
    <p class="slide-content">{{.Params.slide_show.slide_1.slide_1_content}}</p>
    <div class='shop-now-nav'>
      <h2 class="shop-now-text">Shop Now</h2>
      <span>
        <img class="shop-now-arrow" src="../images/icon-arrow.svg" alt="next">
        <img class="shop-now-arrow-active" src="../images/icon-arrow-active.svg" alt="next">
      </span>
    </div>
  </div>
</div>